@font-face {
  font-family: 'iconfont';  /* project id 370862 */
  src: url('//at.alicdn.com/t/font_370862_nq52jrvhyucpiudi.eot');
  src: url('//at.alicdn.com/t/font_370862_nq52jrvhyucpiudi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_370862_nq52jrvhyucpiudi.woff') format('woff'),
  url('//at.alicdn.com/t/font_370862_nq52jrvhyucpiudi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_370862_nq52jrvhyucpiudi.svg#iconfont') format('svg');
}

@font-face {
  font-family: 'tolkien';
  src: url('../font/tolkien.ttf');
}
@font-face {
  font-family: 'hobbit';
  src: url('../font/hobbit.ttf');
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

body {
/*  max-width:100%;
  margin: 0 auto;  */
  background-color: #FAF6EB;
  max-width:1400px;
  margin: 0 auto;
}
.clearfix：after {
  content: '';
  display: block;
  clear: both;
}
.title{
  text-align: center;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif ;
}
.title h2 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 42px;
  color: #333;
}
.title h3 {
  font-size: 18px;
  font-style: italic;
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 75px;
  color: #777;
}



.navbar {
  background-color: #333;
  opacity: .7;
  padding: 2px 0;
  position: fixed;
  right: 0;
  left: 0; 
  top: 0;
  z-index: 2;
  border: none;
}
.nav-left {
  float: left;  
}
.logo {
  padding-left: 10px; 
}
.nav-right{
  float: right;
}
.navlist>li {
  float: left;
  margin-right: 10px;
  padding-top: 10px;
  font-size: 16px;
}
.navlist>li a,
.logo a{
  color: #FCFBDD;
  display: block;
  font-family: 'tolkien','Montserrat',"Helvetica Neue",'Helvetica','Arial','sans-serif'; 
  letter-spacing: 1px;
}
.logo{
  margin-top: -6px;
}
.navlist>li a:hover {
  color: #C4482F;
}
.logo a {
  font-family: 'tolkien',"Kaushan Script","Helvetica Neue",'Helvetica','Arial','cursive';
  color: #FED136;
 
  font-size: 34px;
}
.logo a:hover {
  transition-duration: .5s;
}

header {
  margin-bottom:  200px;
}
.carousel{
  position: relative;
  /*width: 100%;*/
  height: 700px;
  overflow: hidden;
  margin: 70px auto;
  margin-top: -1px;
}
.img-ct{
  position: absolute;
  /*width: 1600px;*/
}
.img-ct>li {
  float: left;
     
}
.img-ct img{
  width: 100%;
  height: 700px;
}
.btn {
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 35px;
  z-index: 1;
  top: 50%;
  margin-top: -15px;
  border-radius: 3px;
  color: #E8EDFF;
  text-align: center;
  align-items: center;
  font-size: 35px;
  opacity: 0.5;
}
.btn:hover{
    opacity: 0.8;

  }
.nextbtn{
  right: 10px;
}
.prebtn{
  left: 10px;
}
.bullet {
  position: absolute;
  bottom: 50px;
  z-index: 1;
  text-align: center;
  width: 100%;   
  opacity: .8;     
}
.bullet li{
  display: inline-block;
  width: 28px;
  height: 6px;
  border-radius: 3px;
  border: 2px solid #FCFBDD;
  cursor: pointer;
  margin: 0 6px;
  opacity: .4;
}
.bullet .active {
  background-color: #fff;
}

.intro-ct{
  position: relative;
  text-align: center;
}
.intro {
  position: absolute;
  text-align: center;
  width: 600px;
  top: 50%;
  left: 50%;
  margin-left: -300px;  
  color: #FCFBDD;
}
.intro p {
  font-family: 'hobbit',"Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
  font-size: 140px;
  font-weight: 500;
  line-height: 70px;
  letter-spacing: 18px;
  padding-bottom: 80px;
  padding-left: 5px;
}
#intro-btn {
  margin-top: 55px;
  padding: 1px 5px;
  display: inline-block;
  font-family:  'tolkien',"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  height: 35px;
  width: 120px;
  line-height: 30px;
  color: #F7FBFC;
  background-color: #CD6949;
  border-radius: 10px;
  text-align: center;
}
#intro-btn:hover {
  background-color: #A54A2E;
  transition: all .5s;
}

.gotop-ct {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
}
#gotop-btn {
  width: 50px;
  height: 30px;
  background: none;
  border-radius:5px;
  border: 1px dashed #B74C10;
  cursor: pointer;
  color: #B74C10;
  font-size: 14px;
}
#gotop-btn:hover {
  background-color: #B74C10;
  color: #fff;
}



#service {
  padding: 100px 0;
  margin-bottom: 100px;
}
.srvc-list {
  display: flex;    
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
}
.srvc-list li{
  width: 30%;
}
.srvc-list li>figure{
  width: 100%;
  font-size: 120px;
  display: inline-block;
  margin: 15px auto;
  border: transparent;
}
.srvc-list li>figure:hover {
  color: #CC1300;
  transition-duration: .4s;
  cursor: pointer;
}
.srvc-list h4 {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  margin: 15px 0;     
  font-size: 20px;
}
.srvc-list p {
  font-family: "Arial","Helvetica Neue",Helvetica,sans-serif;
  word-break: break-all;
  font-weight: 500;     
  font-size: 16px; 
  color: #666;   
  line-height: 1.4em; 
} 



#portfolio {
  padding: 100px 0;
  margin-bottom: 100px;
}
.portf-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  margin-top: 10px;
}
.portf-list li {
  width: 32%;
  margin: 10px 0;
  text-align: center;
  margin-bottom: 15px;
  position: relative;
}
.portf-list li>img{
  width: 80%;
  height: 80%;
  border: none;
  border-radius: 4px;
}
.portf-list .imghover {
  width: 80%;
  height: 100%;
  background-color: rgba(0,0,0,.4);
  position: absolute;
  top: 0;
  left: 10%;
  opacity: 0;
}
.portf-list .imghover>img {
  width: 30%;
  height: 30%;
  margin-top: 30%;
  max-width: 60px;
  max-height: 60px;
  border-radius: 50%;
}
.portf-list .imghover:hover {
  opacity: .5;
  transition-duration: .7s;
}
.portf-list li h3 {
  padding: 10px;
  font-size: 18px;
  font-family: Montserrat ,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 600;
  text-transform: capitalize;/* 首字母大写 */
}
.portf-list li p {
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  color: #777;
  font-style: italic;
}





#about{
  padding: 100px 0;
  margin-bottom: 100px;
}
.timeline li{
  text-align: center;
  position: relative;
  padding: 0 0 125px 0;
  text-align: center;
}
.timeline img{
  width: 180px;
  height: 180px;
  border: 5px solid #f1f1f1;
  border-radius: 50%;
}
.timeline .panel {
  position: absolute;
  top: 5%;
  width: 30em;
  right: 50%;
  margin-right: 100px;
  text-align: right;
}

.timeline li:after {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  border-right: 2px solid #78241B;
 /*  左右都可，只要一条线 */
  right: 50%;
  top: 0;
  z-index: -1;
}
.timeline li:last-child {
  padding-bottom: 0;
  width: 156px;
  height: 156px;
  border-radius: 50%;
  border: 7px solid #f1f1f1;
  background-color: #78241B;
  margin: 0 auto;
  color: #FDFCE4;
}
.end-img h4 {
  font-size: 18px;
  line-height: 26px;
  font-family: 'Linux Libertine','Georgia','Times',serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  height: 156px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.timeline li:nth-child(even)> .panel {
  left: 50%;
  /* 左边距离50% */
  margin-left: 100px;
  text-align: left;
}
.panel time,h4{
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.8em;
  color: #333;
}
.panel p {
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #777;
  line-height: 1.75;
}


#stills{
  padding: 100px 0;
  margin-bottom: 100px;
}
#stills ul,
#stills li,
#stills p,
#stills div {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#stills ul,
#stills li {
  list-style: none;
}

#stills .wrap {
  width: 1100px;
  margin: 0 auto;
}

#stills #wtfpic-ct {
  position: relative;
}

#stills #wtfpic-ct .item {
  position: absolute;
  padding: 0;
  width: 250px;
  margin: 8px;
  border: 1px solid #ccc;
  box-shadow:5px -3px 10px #A38B8B;
  background: #fff;
  text-align: center;
  /*opacity: 1;*/
  transition: all 1s;
}

#stills #wtfpic-ct .item img {
  margin: 8px;
  width: 230px;
}

#stills p {
  font-size: 12px;
  line-height: 1.8;
  margin: 10px 15px 0 15px;
  color: #666
}

#stills .hide {
  display: none;
}
#loadmore-btn{
  padding: 8px 16px;
  width: 150px;
  margin: 0 auto;
  display: block;
  font-family:  'tolkien',"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  color: #F7FBFC;
  background-color: #CD6949;
  border-radius: 10px;
  text-align: center;
  opacity: .8;
}







#team {
  padding: 100px 0;
  margin-bottom: 100px;
  background-color: #FAF6EB;
}
.team-list {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.team-list li{
  width: 30%;  
  display: inline-block;
}
.team-list li img{
  border: 5px solid #fff;
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  width: 90%;

}
.contact-btn a{
  font-size: 30px;
  color: #222;
}
.contact-btn a:hover{
  color: #fed136;
}
.team-list h5 {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: capitalize;
}
.team-list p {
  font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: 500;
}


#client{
  display: flex;
  justify-content: space-around;
  padding: 30px 0;
}
#client img{
  max-width: 150px;
}



#contact {
  background: url('../pic/wall.jpg') no-repeat;
  padding-top: 150px;
  padding-bottom: 100px; 
  background-attachment: fixed;
  background-size: cover;
}
#contact .title h2,
#contact .title h3{
 color: #fff;
}
.form-content{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 10px 90px;
}
.form-content input {
  min-width: 400px;
}
.setInfo {
  flex: 1;
  align-items: center;
  text-align: center;
  margin-left: 80px;
  /*padding-left: 30px;*/
}
.setMess {
  flex: 1;
  align-items: center;
  text-align: center;
  margin-right: 60px;
}
.small {
  margin-bottom: 20px;
  width: 80%;
  display: block;
  background-color: #fff;
  background: rgba(242,242,242,.7);
  font-size: 16px;
  font-family: "Arial";
  padding: 20px;
  border-radius: 3px;
  border: none;
  font-size: 16px;

}
.form-content textarea {
  display: inline-block;
  height: 174px;
  background-color: #fff;
  background: rgba(242,242,242,.7);
  font-size: 16px;
  font-family: "Arial";
  padding: 20px;
  padding-right: 0;
  border-radius: 3px;
  border: none;
  font-size: 16px;
  width: 90%;
  min-width: 400px;
}
.submit {
  margin: 50px auto;
  margin-bottom: 20px;
  text-align: center;
  display: block;
}
.submit button {
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  padding: 15px 40px;
  color: #F2DFC1;
  background-color: #B47161;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all .3s;
  cursor: pointer;
  border: none;
}
.submit button:hover {
  background-color: #76312C;
  color: #ECDD8F;
}




footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 5px;
}
.copyright {
  flex:1;
  color: #FED136;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #333;
  font-size: 14px;
}
.contact-btn {
  flex: 1;
  font-size: 20px;
}
.contact-btn a {
  transition: all .5s;
}
.quicklinks {
  flex: 1;
  font-size: 16px;
}
.quicklinks a {
  padding-left: 10px;
  color: #FED136;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;  
  transition: all .5s;
}
.quicklinks a:hover {
  color: #333;
}
