@font-face {
  font-family: 'iconfont';  /* project id 555778 */
  src: url('//at.alicdn.com/t/font_555778_kxq95xyeufnljtt9.eot');
  src: url('//at.alicdn.com/t/font_555778_kxq95xyeufnljtt9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_555778_kxq95xyeufnljtt9.woff') format('woff'),
  url('//at.alicdn.com/t/font_555778_kxq95xyeufnljtt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_555778_kxq95xyeufnljtt9.svg#iconfont') format('svg');
}
* {
  margin: 0;
  padding: 0;
  word-break: break-all;
  letter-spacing: .5px;
  background-color: #fff;
}
@media(min-width: 700px){ 

}
body {
  width: 800px;
  margin: 10px auto;
/*  font-family:  Futura, Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑";
*/  font-size: 18px; 
  padding: 50px;
  box-shadow: 0 0 4px 5px rgba(0,0,0,0.2);
  position: relative;
}
#pdf {
  position: absolute;
  right: 2em;
  top: 1.5em;
  font-size: 24px;
  color: #222;
}
.intro {
  display: flex;
  margin: 20px;
  padding-top: 20px;
}
.name {
  flex: 2;

}
.name span {
  padding-left: 10px;
  opacity: 0.6;
  font-size: .6em;
}
.contact {
  flex: 1;
} 
.name h2 {
  margin-left: 2em;   
  opacity: 0.9;
  margin-bottom: .5em;
}
.name p {
  margin-left: 20px;
  margin-top: ;
  vertical-align: middle;
  opacity: .7;
  padding: 3px 0;
}
.name .iconfont{
  padding-right: 5px;
  margin-top: -20px;
  vertical-align: -10%;
}
.iconfont{
  font-family: "iconfont" !important;
  font-size:  20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.contact ul{
  font-size: 18px;
  opacity: 0.7;  
}
.contact h2{
  border-bottom: 2px solid #333;
  opacity: 0.7;
}
.contact>ul>li{
  margin-left: 0;
  padding: 2px 2px;
  letter-spacing: 0.1px;
  font-size: 16px;
  list-style: none;
}
.contact>ul>li:first-child{
  padding-top: 6px;
}
.contact .iconfont {
  margin-right: 5px;
  vertical-align: -10%;
}
.contact .iconfont.phone{
  margin-left: -1px;
  margin-right: 5px;
}
.contact .iconfont.email{
  vertical-align: -12%;
}


.work-exp,
.extra,
.skills {
  margin-left: 30px;
  margin-bottom: 40px;
}
.work-exp h2,
.skills h2 {
  border-bottom: 2px solid #333;
  width: 50%;
  margin-bottom: 30px;
  opacity: 0.7;
}
.items {
  padding-left: 60px;
  width: 680px;
  padding-bottom: 20px;
  padding-top: 0;
  position: relative;
}
.items:before{
  content: '';
  height: 100%;
  border-left: 2px solid #333;
  position: absolute;
  opacity: 0.8;
  top: 0;
  left: 0;
}
.items-first:before{
  top: 20px;
}
.items h3 {
  padding: 5px;
  font-size: 24px; 
  position: relative;
}
.items h3:before{
  position: absolute;
  left: -67px;
  top: 12px;
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #333;
  z-index: 5;
}
.items p { 
  padding: 5px;
  font-size: 18px;
}
.items span {
  padding-left: 8px;
  opacity: 0.6;
  font-size: 18px;
}
/*.skills .items {
  padding-bottom: 5px;
}
.skills .items p {
  position: relative
}
.skills .items p:before{
  position: absolute;
  left: -69px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid #555;
  z-index: 5;  
}
.skills .items:before{
  content: '';
  height: 100%;
  border-left: 2px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
}*/
.skills li{
  margin-left: 20px;
  list-style: square;
  font-size: 18px;
  margin-bottom: 6px;
}
footer {
  display: flex;
  opacity: 0.9;
  padding-top: 10px;
}
footer > .extra {
  flex: 1;
}
footer > .skills {
  flex: 1;
}
a{
  color: #888;
}
a:hover{
  color: #3D9970;
}
a:active{
  color: black;
}
.code-address{
  margin-top: 0;
  
}
